<!-- Header -->
<header>
  <nav>
    <div class="container">
      <h1>FixedAssets</h1>
      <ul>
        <li><a routerLink="/most-traded-assets">Ativos Mais Negociados</a></li>
      </ul>
      
      <button (click)="logout()" class="btn btn-danger">Sair</button>

    </div>
  </nav>
</header>

<router-outlet></router-outlet>

<!-- Footer -->
<footer>
  <div class="container">
    <p>&copy; 2024 FixedAssets. Todos os direitos reservados.</p>
    <p>Feito com ❤️ pela Luciana Rocha.</p>
  </div>
</footer>

