/* Certifique-se de que o conteúdo ocupe a altura total da tela */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* O container principal vai ocupar o espaço restante */
main {
  flex: 1;
}

/* Rodapé fixo no final da página */
footer {
  background-color: #333; /* Cor de fundo do rodapé */
  color: white; /* Cor do texto no rodapé */
  padding: 20px 0; /* Espaçamento interno */
  text-align: center; /* Centralizar o texto */
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

  /* Ajuste do texto dentro do rodapé */
  footer p {
    margin: 0;
    font-size: 14px;
  }

/* Para dispositivos móveis, podemos ajustar o tamanho da fonte */
@media (max-width: 768px) {
  footer p {
    font-size: 12px;
  }
}




/* Estilo do Header */
header {
background-color: #27282a;
color: white;
padding: 15px 0;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header nav .container {
display: flex;
justify-content: space-between;
align-items: center;
}

header h1 {
margin: 0;
font-size: 24px;
}

header ul {
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
}

header ul li {
margin-right: 20px;
}

header ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

  header ul li a:hover {
    color: #d4e2f2;
  }


/* Responsividade para telas menores */
@media (max-width: 768px) {
  header nav .container {
    flex-direction: column;
  }

  header ul {
    flex-direction: column;
    align-items: center;
  }

    header ul li {
      margin-right: 0;
      margin-bottom: 10px;
    }

  footer {
    position: relative;
  }
}
